# Amazon Recommendation System
![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNd5lx4VKP1BTj0F15L_MH7UMd8dpETFudDw&usqp=CAU)
The dataset was gotten from [kaggle](https://www.kaggle.com/saurav9786/recommender-system-using-amazon-reviews/data)

Amazon seems to use both similarity score and product reviews to generate recommendataions

### Declare important modules

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("dataset/ratings_Electronics.csv")
data.head(5)

    AKM1MP6P0OYPR  0132793040  5.0  1365811200
0  A2CX7LUOHB2NDG  0321732944  5.0  1341100800
1  A2NWSAGRHCP8N5  0439886341  1.0  1367193600
2  A2WNBOD3WNDNKT  0439886341  3.0  1374451200
3  A1GI0U4ZRJA8WN  0439886341  1.0  1334707200
4  A1QGNMC6O1VW39  0511189877  5.0  1397433600

### Data Clean/Wrangling

In [5]:
data.columns = ['user_id', 'product_id', 'ratings', 'timestamp']
data.head(5)

          user_id  product_id  ratings   timestamp
0  A2CX7LUOHB2NDG  0321732944      5.0  1341100800
1  A2NWSAGRHCP8N5  0439886341      1.0  1367193600
2  A2WNBOD3WNDNKT  0439886341      3.0  1374451200
3  A1GI0U4ZRJA8WN  0439886341      1.0  1334707200
4  A1QGNMC6O1VW39  0511189877      5.0  1397433600

In [8]:
# select sample because dataset is very large
data_sample = data[:int(len(data) * .1)]

In [9]:
counts = data_sample['user_id'].value_counts()# counts how many times each unique user id appears
data = data_sample[data_sample['user_id']]

The number of User IDs: A5JLAU2ARJ0BO     384
A231WM2Z2JL0U3    249
A25HBO5V8S8SEA    163
A6FIAB28IS79      113
AT6CZDCP4TRGA     112
                 ...
AYK3XA6M9FGSC       1
AQ1OMXIN4TQ0H       1
A2M4KVAS2J9O3C      1
AAQBM3POZKT9H       1
AY5IAT0TP4OAW       1
Name: user_id, Length: 606149, dtype: int64